<!--
  ~ Copyright (c) 2023 DERACHE Adrien.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<ion-header>
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-between ion-align-items-center">
        <ion-col size="4">
          <ion-menu-toggle>
            <ion-avatar
              style="width: 25px; height: 25px">
              <img *ngIf="user" [src]="user.avatar" alt="Silhouette of a person's head" />
            </ion-avatar>
          </ion-menu-toggle>
        </ion-col>
        <ion-col [ngSwitch]="isDarkModeEnable" size="4" style="display:flex; justify-content: center">
          <ion-img *ngSwitchCase="false" alt="Logo ESIEA" src="../assets/icon/ESIEA_logo_128.webp"></ion-img>
          <ion-img *ngSwitchCase="true" alt="Logo ESIEA" src="../assets/icon/ESIEA_logo_128_white.webp"></ion-img>
        </ion-col>
        <ion-col size="4" style="display: flex; justify-content: right">
          <div *ngIf="mode === 'calendar'">
            <ion-datetime-button
              color="primary"
              datetime="datetime">
            </ion-datetime-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="mode === 'calendar'" class="ion-justify-content-between">
        <ion-col
          (click)="onChangeDate(day.date)"
          *ngFor="let day of weekday; let i = index"
          [class.active]="day.date.getDate() === selectedDate.getDate()"
          class="day-slide"
          size="2">
          <p>
            {{ day.weekday }}
          </p>
          <h6>
            {{ day.date.getDate() }}
          </h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-modal *ngIf="mode === 'calendar'" [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime
      #datetime
      (ionChange)="onChangeDate(datetime.value)"
      [firstDayOfWeek]="1"
      [isDateEnabled]="isWeekday"
      [max]="maxDate"
      [min]="minDate"
      [showDefaultButtons]="true"
      [showDefaultTitle]="true"
      [value]="selectedDate.toISOString()"
      cancelText="Annuler"
      color="tertiary"
      doneText="Valider"
      id="datetime"
      locale="fr-FR"
      presentation="date">
      <span slot="title">Sélectionner une date</span>
    </ion-datetime>
  </ng-template>
</ion-modal>
