<!--
  ~ Copyright (c) 2023 DERACHE Adrien.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<ion-grid>
  <ion-row>
    <ion-col
      class="ion-margin-top" size="1" style="margin-right: 25px">
      <ion-avatar style="width: 48px; height: auto">
        <ion-img (ionImgDidLoad)="onAvatarLoaded()" [src]="ePouet.userImgUrl"></ion-img>
        <ion-thumbnail *ngIf="isAvatarLoading">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
      </ion-avatar>
    </ion-col>
    <ion-col class="ion-margin-top">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12">
            <ion-text>
              <strong>{{ ePouet.displayName }}</strong>・
              <span style="color: var(--ion-color-medium)">{{ getTime(ePouet.date) }}</span>
            </ion-text>
          </ion-col>
          <ion-col *ngIf="ePouet.warnPouet" class="ion-margin-top" size="11">
            <ion-grid class="warnPouet">
              <ion-row>
                <ion-col size="12">
                  <ion-text color="danger">
                    <h5>📢  <strong>ANNONCE !</strong> 📢</h5>
                  </ion-text>
                  <p>{{ ePouet.warnPouet }}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col class="ion-margin-top" size="12">
            <p class="ion-no-margin ion-padding-end">{{ ePouet.message }}</p>
          </ion-col>
          <ion-col *ngIf="ePouet.poll" class="ion-margin-top" size="11">
            <ion-list *ngIf="ePouet.isVoted" class="ion-no-padding ion-no-margin">
                <ion-item
                  *ngFor="let option of ePouet.poll?.options; let i = index"
                  [class.max]="isMax(option)"
                  [ngStyle]="setBackground(option)"
                  class="custom-form form-res"
                  lines="none">
                  {{ option }}
                  <p
                    [class.max]="getVotePourcentage(option) > 50"
                    style="right: 20px; position:absolute;">
                    {{ getVotePourcentage(option) }}%
                  </p>
                </ion-item>
            </ion-list>
            <form (ngSubmit)="onVote()" *ngIf="!ePouet.isVoted">
              <ion-list class="ion-no-padding ion-no-margin">
                <ion-radio-group
                  *ngIf="ePouet.poll.type === 'one'"
                  [(ngModel)]="radioValue" [ngModelOptions]="{standalone: true}">
                  <ion-item
                    *ngFor="let option of ePouet.poll?.options; let i = index"
                    class="custom-form"
                    lines="none">
                    <ion-radio
                      [value]="option"
                      justify="space-between">
                      {{ option }}
                    </ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
              <ion-list
                *ngIf="ePouet.poll.type === 'multi'">
                <ion-item
                  *ngFor="let option of ePouet.poll.options; let i = index"
                  class="custom-form"
                  lines="none">
                  <ion-checkbox
                    [(ngModel)]="checkboxSelected[i]"
                    [ngModelOptions]="{standalone: true}"
                    justify="space-between">
                    {{ option }}
                  </ion-checkbox>
                </ion-item>
              </ion-list>
              <ion-button (click)="onVote()" [disabled]="!isValid()" expand="block" shape="round" type="submit">
                Voter
              </ion-button>
            </form>
          </ion-col>
          <ion-col *ngIf="ePouet.imgUrl" class="ion-margin-top" size="11">
            <ion-avatar id="pouetImage">
              <ion-img [src]="ePouet.imgUrl" class="border-radius"></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col class="ion-text-center ion-no-padding ion-no-margin" size="12">
            <ion-button
              (click)="onLike()"
              class="ion-no-margin"
              shape="clear">
              <ion-icon
                [color]="ePouet.isLiked && 'danger'"
                [name]="ePouet.isLiked ? 'heart' : 'heart-outline'"
                slot="start">
              </ion-icon>
              <ion-text [color]="ePouet.isLiked && 'danger'">
                {{ ePouet.numberLike }}
              </ion-text>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>
</ion-grid>
