<app-side-menu></app-side-menu>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon [name]="tabSelected === '/tabs/tab1' ? 'home' : 'home-outline'" color="dark"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab2">
      <ion-icon [name]="tabSelected === '/tabs/tab2' ? 'calendar' : 'calendar-outline'" color="dark"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
