<app-settings-header
  title="Changer de Mot de passe">
</app-settings-header>
<ion-content>
  <form (ngSubmit)="onChangePassword()" [formGroup]="passwordForm">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11">
          <ion-input
            clearOnEdit="false"
            errorText="Le mot de passe est requis eet doit comporter 8 caractères."
            formControlName="currentPassword"
            label="Mot de passe actuel"
            labelPlacement="floating"
            type="password">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11">
          <ion-input
            clearOnEdit="false"
            errorText="Le mot de passe doit comporter 12 caractères minimum"
            formControlName="newPassword"
            label="Nouveau mot de passe"
            labelPlacement="floating"
            type="password">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="11">
          <ion-input
            clearOnEdit="false"
            errorText="Les deux mots de passe sont différents"
            formControlName="newPasswordConfirmation"
            label="Confirmer le mot de passe"
            labelPlacement="floating"
            type="password">
          </ion-input>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-text *ngIf="errorMessage" color="danger">
            {{ errorMessage }}
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <ion-button [disabled]="isLoading" type="submit">
            Changer le mot de passe
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
