<!--
  ~ Copyright (c) 2023 DERACHE Adrien.
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->

<app-header
  mode="calendar">
</app-header>
<ion-content fullscreen="true">
      <ng-template #dayviewNormalEventTemplate let-displayEvent="displayEvent">
        <div
          [class.blue]="displayEvent.event.title === 'Algo et prog C  2' ||
          displayEvent.event.title === 'Algorithmique avancée'"
          [class.europe]="displayEvent.event.title === 'LV2 opt'"
          [class.green]="displayEvent.event.title === 'Anglais'"
          [class.pink]="displayEvent.event.title === 'Electromagnétisme' ||
          displayEvent.event.title === 'Oscillations et Ondes'"
          [class.purple]="
          displayEvent.event.title === 'Analyse 2' ||
          displayEvent.event.title === 'Analyse 1' ||
          displayEvent.event.title === 'Fonct. de plusieurs var...'"
          [class.red]="
          displayEvent.event.title === 'Algèbre linéaire' ||
          displayEvent.event.title === 'Algèbre générale' ||
          displayEvent.event.title === 'Algèbre et Géométrie'"
          [class.yellow]="displayEvent.event.title === 'Electronique analogique' ||
          displayEvent.event.title === 'Electronique numérique'"
          class="calendar-event-inner orange">
          <span class="title">
            <span *ngIf="displayEvent.event.title === 'Anglais'">🇬🇧</span>
            <span *ngIf="displayEvent.event.title === 'Electromagnétisme'">🧪</span>
            <span *ngIf="displayEvent.event.title === 'LV2 opt'">🇪🇺</span>
            <span *ngIf="displayEvent.event.title === 'Algo et prog C  2'">🖥️</span>
            <span *ngIf="displayEvent.event.title === 'Electronique analogique'">⚡️️</span>
            <span *ngIf="
            displayEvent.event.title === 'Analyse 2'||
            displayEvent.event.title === 'Analyse 1'">
              ➖
            </span>
            <span *ngIf="
            displayEvent.event.title === 'Algèbre linéaire' ||
            displayEvent.event.title === 'Algèbre générale'">
              ➕
            </span>
            {{ displayEvent.event.title }}
          </span>
          <br>
          <span class="event-info">
            ⏰ {{ getStringHour(displayEvent.event.startTime) }} - {{ getStringHour(displayEvent.event.endTime) }}
          </span>
          <br>
          <span class="event-info">
            🏠️ {{ displayEvent.event.room }}
          </span>
          <span class="event-info">
            🧑‍🏫 {{ displayEvent.event.teacher }}
          </span>
        </div>
      </ng-template>

  <ng-template
    #dayviewNormalEventSectionTemplate
    let-eventTemplate="eventTemplate"
    let-hourParts="hourParts"
    let-tm="tm">
    <div *ngIf="tm.events" [ngClass]="{'calendar-event-wrap': tm.events}">
      <div *ngFor="let displayEvent of tm.events"
           [ngStyle]="{
           top: (70*displayEvent.startOffset/hourParts) + 34 + 'px',
           left: 100/displayEvent.overlapNumber*displayEvent.position+'%',
           width: 100/displayEvent.overlapNumber+'%',
           height: 70*(displayEvent.endIndex -displayEvent.startIndex - (displayEvent.endOffset + displayEvent.startOffset)/hourParts)+'px'
           }"
           class="calendar-event"
           tappable>
        <ng-template [ngTemplateOutletContext]="{displayEvent:displayEvent}"
                     [ngTemplateOutlet]="eventTemplate">
        </ng-template>
      </div>
    </div>
  </ng-template>

  <calendar
    (onCurrentDateChanged)="onDateChanged($event)"
    [calendarMode]="calendar.mode"
    [currentDate]="calendar.currentDate"
    [dateFormatter]="calendar.dateFormatter"
    [dayviewNormalEventSectionTemplate]="dayviewNormalEventSectionTemplate"
    [dayviewNormalEventTemplate]="dayviewNormalEventTemplate"
    [endHour]="calendar.endHour"
    [eventSource]="eventSource"
    [locale]="calendar.locale"
    [startHour]="calendar.startHour"
    [startingDayWeek]="calendar.startingDayWeek"
    [step]="calendar.step">
  </calendar>
</ion-content>

