<app-header></app-header>
<ion-content fullscreen="true">
  <ion-fab horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button (click)="onEPouet()">
      <ion-icon name="pencil-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <app-e-pouet-list></app-e-pouet-list>
</ion-content>
