<ion-content fullscreen="true">
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <ion-img src="assets/icon/ESIEA_logo_128.webp"></ion-img>
      </ion-col>
      <ion-col>
        <ion-text>
          <h2>ESIEA Assos</h2>
          <h6 class="ion-no-margin ion-no-padding">1.0.0</h6>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Licence</h3>
        <p>L'application est sous licence GPLv3 mais attention, les images sont limitées et soumises à des droits d'auteur.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3 style="display:flex; align-items: center">
          <ion-avatar>
            <img alt="RED LOGO" src="assets/icon/LOGO_Mini.svg" />
          </ion-avatar>
          <ion-label>RED Team</ion-label>
        </h3>
        <p><a href="https://bugprog.studio">DERACHE Adrien</a> Développeur</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Vie privée</h3>
        <p><a href="https://bugprog.studio">Politique de confidentialité.</a></p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Liens</h3>
        <p><a href="https://gitlab.com/esiea-groupe/esiea-app">Gitlab</a></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="onDismiss()" fill="clear" slot="end">Fermer</ion-button>
  </ion-toolbar>
</ion-footer>
