<app-settings-header
  title="Modifier mon profil">
</app-settings-header>
<ion-content fullscreen="true">
  <app-settings-list
    [settingItems]="settingItems">
  </app-settings-list>
</ion-content>
