<app-settings-header
  title="Paramètres">
</app-settings-header>
<ion-content fullscreen="true">
  <app-settings-list
    (functionCalled)="callFunction($event)"
    [settingItems]="settingItems">
  </app-settings-list>
</ion-content>
